rda0105-agl-aus-java-a43926f304e3/xms-delivery/api/tnt/intl/xsd/label_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="labelResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="consignment" type="consignmentResponseType" minOccurs="0" maxOccurs="5"/>
                <xsd:element ref="brokenRules" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="fault" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="consignmentResponseType">
        <xsd:sequence>
            <xsd:element name="pieceLabelData" type="pieceRoutingLabelType" minOccurs="1" maxOccurs="99"/>
            <xsd:element name="consignmentLabelData" type="consignmentRoutingLabelType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="key" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:element name="brokenRules">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="errorCode" type="xsd:int" minOccurs="1"/>
                <xsd:element name="errorDescription" type="xsd:string" minOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="key" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="fault">
        <xsd:complexType>
            <xsd:attribute name="key" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="pieceRoutingLabelType">
        <xsd:sequence>
            <xsd:element name="pieceNumber" type="xsd:int" minOccurs="1"/>
            <xsd:element name="weightDisplay" type="renderInstructionsType" minOccurs="1"/>
            <xsd:element name="pieceReference" type="xsd:string" minOccurs="1"/>
            <xsd:element name="barcode" type="barcodeType" minOccurs="1"/>
            <xsd:element name="barcodeForCustomer" type="barcodeType" minOccurs="0"/>
            <xsd:element name="twoDBarcode" type="twoDBarcodeType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="consignmentRoutingLabelType">
        <xsd:sequence>
            <xsd:element name="consignmentNumber" type="xsd:string" minOccurs="1"/>
            <xsd:element name="sender" type="nameAndAddressResponseType" minOccurs="1"/>
            <xsd:element name="delivery" type="nameAndAddressResponseType" minOccurs="1"/>
            <xsd:element name="contact" type="contactType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="account" type="accountType" minOccurs="1"/>
            <xsd:element name="totalNumberOfPieces" type="xsd:int" minOccurs="1"/>
            <xsd:element name="product" type="productDescriptionType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="option" type="optionDescriptionType" maxOccurs="5" minOccurs="0"/>
            <xsd:element name="collectionDate" type="xsd:date" minOccurs="1"/>
            <xsd:element name="marketDisplay" type="renderInstructionsType" minOccurs="1"/>
            <xsd:element name="transportDisplay" type="renderInstructionsType" minOccurs="0"/>
            <xsd:element name="freeCirculationDisplay" type="renderInstructionsType" minOccurs="0"/>
            <xsd:element name="sortSplitText" type="xsd:string" minOccurs="0"/>
            <xsd:element name="xrayDisplay" type="renderInstructionsType" minOccurs="0"/>
            <xsd:element name="originDepot" type="depotType" minOccurs="1"/>
            <xsd:element name="transitDepots" type="transitDepotListType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="destinationDepot" type="destinationDepotType" minOccurs="1"/>
            <xsd:element name="microzone" type="renderInstructionsType" minOccurs="0"/>
            <xsd:element name="clusterCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="legalComments" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cashAmount" type="renderInstructionsType" minOccurs="0"/>
            <xsd:element name="specialInstructions" type="xsd:string" minOccurs="0"/>
            <xsd:element name="bulkShipment" type="renderInstructionsType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="renderInstructionsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attributeGroup ref="renderInstructionsAttributesType"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="barcodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="symbology" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="128C"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="twoDBarcodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="symbology" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="pdf417"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="nameAndAddressResponseType">
        <xsd:sequence>
            <xsd:element name="name" type="stringMaxLength40" minOccurs="1"/>
            <xsd:element name="addressLine1" type="stringMaxLength30" minOccurs="1"/>
            <xsd:element name="addressLine2" type="stringMaxLength30" minOccurs="0" nillable="true"/>
            <xsd:element name="addressLine3" type="stringMaxLength30" minOccurs="0" nillable="true"/>
            <xsd:element name="town" type="stringMaxLength40" minOccurs="1"/>
            <xsd:element name="province" type="stringMaxLength30" minOccurs="0"/>
            <xsd:element name="postcode" type="stringMaxLength9" minOccurs="0"/>
            <xsd:element name="country" type="stringMinLength2MaxLength2" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="contactType">
        <xsd:sequence>
            <xsd:element name="name" type="stringMaxLength30" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telephoneNumber" type="stringMaxLength30" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="emailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="accountType">
        <xsd:sequence>
            <xsd:element name="accountNumber" type="stringMaxLength10" minOccurs="1"/>
            <xsd:element name="accountCountry" type="stringMinLength2MaxLength2" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="productDescriptionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="optionDescriptionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="depotType">
        <xsd:sequence>
            <xsd:element name="depotCode" type="stringMinLength3MaxLength3" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transitDepotListType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="transitDepot" type="depotType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="actionDepot" type="actionDepotType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="sortDepot" type="sortDepotType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="destinationDepotType">
        <xsd:sequence>
            <xsd:element name="depotCode" type="xsd:string" minOccurs="1"/>
            <xsd:element name="dueDayOfMonth" type="xsd:int" minOccurs="1"/>
            <xsd:element name="dueDate" type="xsd:date" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup name="renderInstructionsAttributesType">
        <xsd:attribute name="code" type="xsd:string" use="required"/>
        <xsd:attribute name="renderInstructions" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="yes"/>
                    <xsd:enumeration value="no"/>
                    <xsd:enumeration value="highlighted"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:attributeGroup>
    <xsd:simpleType name="stringMaxLength40">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stringMaxLength30">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stringMaxLength9">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stringMinLength2MaxLength2">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stringMaxLength10">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stringMinLength3MaxLength3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="actionDepotType">
        <xsd:sequence>
            <xsd:element name="depotCode" type="xsd:string" minOccurs="1"/>
            <xsd:element name="actionDayOfWeek" type="xsd:int" minOccurs="1"/>
            <xsd:element name="actionDate" type="xsd:date" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sortDepotType">
        <xsd:sequence>
            <xsd:element name="depotCode" type="xsd:string" minOccurs="1"/>
            <xsd:element name="sortCellIndicator" type="renderInstructionsType" minOccurs="0"/>
            <xsd:element name="sortLocationCode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
